<div class="row">
    <div class="col-md-4 col-sm-12">
        <form class="form-horizontal" [formGroup]="formulario">
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" class="form-control" hidden formControlName="id" id="id">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <label for="nome" class="control-label">Nome</label>
                </div>
                <div class="col-sm-12">
                    <input type="text" class="form-control" [ngClass]="aplicaCssErro('nome')" formControlName="nome"
                        id="nome" placeholder="Nome">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <label for="cpf" class="control-label">CPF</label>
                </div>
                <div class="col-sm-12">
                    <input type="text" class="form-control" [ngClass]="aplicaCssErro('cpf')" formControlName="cpf"
                        id="cpf" placeholder="999.999.999-99">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <label for="instituicao" class="control-label">Instituição Financeira</label>
                </div>
                <div class="col-sm-12">
                    <input type="text" class="form-control" [ngClass]="aplicaCssErro('instituicao')"
                        formControlName="instituicao" id="instituicao" placeholder="Instituição">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <label for="chave" class="control-label">Chave</label>
                </div>
                <div class="col-sm-12">
                    <input type="text" class="form-control" [ngClass]="aplicaCssErro('chave')" formControlName="chave"
                        id="chave" placeholder="Chave">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <label for="valor" class="control-label">Valor</label>
                </div>
                <div class="col-sm-12">
                    <input type="text" class="form-control" [ngClass]="aplicaCssErro('valor')" formControlName="valor"
                        id="valor" placeholder="00,00">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="descricao" class="control-label">Descrição</label>
                </div>
                <div class="col-sm-12">
                    <textarea type="text" class="form-control" rows="4" [ngClass]="aplicaCssErro('descricao')"
                        formControlName="descricao" id="descricao" placeholder="Descrição"></textarea>
                </div>
            </div>

            <br>
            <button (click)="enviar()" type="button" class="btn btn-primary">Enviar</button>
            <button (click)="cancelar()" type="button" class="btn btn-secondary">Cancelar</button>
        </form>
    </div>

    <div class="col-md-8 col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="float-left">
                    <h6>Pagamentos</h6>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive-md">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <!-- <th>#</th> -->
                                <th>Data</th>
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>Instituição</th>
                                <th>Chave</th>
                                <th>Valor</th>
                                <th>Descrição</th>
                                <th>por Pag.</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of pagamentos">
                                <!-- adicionar pipe em data -->
                                <!-- <td>{{item.id}}</td> -->
                                <td>{{item.data | date :'shortDate'}}</td>
                                <td>{{item.nome}}</td>
                                <td>{{item.cpf}}</td>
                                <td>{{item.instituicao}}</td>
                                <td>{{item.chave}}</td>
                                <td>{{item.valor | currency:'BRL'}}</td>
                                <td>{{item.descricao}}</td>
                                <td>{{item.porcentagem}}%</td>
                                <td>
                                    <span class="float-right">
                                        <button (click)="carregarDadosForm(item)"
                                            class="btn btn-outline-warning mb-1 btn-sm">UP</button>
                                        <button (click)="delete(item.id)"
                                            class="btn btn-outline-danger mb-1 btn-sm">DEL</button>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>